{% extends "base.html" %}

{% block extra_css %}
<style>
    .hero-section {
        background: linear-gradient(135deg, var(--primary-color) 0%, var(--accent-color) 100%);
        color: white;
        padding: 5rem 0;
        border-radius: 0.5rem;
        margin-bottom: 3rem;
    }

    .feature-card {
        border: none;
        border-radius: 0.5rem;
        transition: transform 0.3s;
        height: 100%;
    }

    .feature-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

</style>
{% endblock %}

{% block content %}
<div class="hero-section text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Добро пожаловать в TimeTrack</h1>
        <p class="lead">Профессиональная система учета рабочего времени</p>
        {% if user.is_authenticated %}
        <div class="action-buttons mt-4 fs-1">
            📈📊📋📅
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <a href="{% url 'task_list' %}" style="text-decoration: none; color: inherit;">
                <div class="card feature-card">
                    <div class="card-body text-center">
                        <i class="bi bi-list-task display-4 text-primary mb-3"></i>
                        <h3>Трекер задач</h3>
                        <p>Просмотр и выбор задач, отслеживание выполнения</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'my_stats' %}" style="text-decoration: none; color: inherit;">
                <div class="card feature-card">
                    <div class="card-body text-center">
                        <i class="bi bi-bar-chart-line display-4 text-primary mb-3"></i>
                        <h3>Дашборд активности</h3>
                        <p>Графики и диаграммы с разными метриками</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            {% if user.is_authenticated and user.role == "Руководитель" %}
                <a href="{% url 'department_statistics' user.department.pk %}" style="text-decoration: none; color: inherit;">
            {% endif %}
                <div class="card feature-card">
                    <div class="card-body text-center">
                        <i class="bi bi-shield-lock display-4 text-primary mb-3"></i>
                        <h3>Статистика</h3>
                        <p>Просмотр статистики за последний месяц</p>
                    </div>
                </div>
            {% if user.is_authenticated and user.role == "Руководитель" %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
